.message {
    width: 575px;
    min-height: 77px;
    margin: 24px 0 0 635px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
/*    border: 1px solid blue;*/
}

.imageAndText {
    text-align: right;
/*    border: 5px solid rosybrown;*/
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

.imageAndText img {
    width: 48px;
    height: 48px;
/*    border: 1px solid blue;*/
/*    margin: 36px 70px 0 0;*/
}

.text {
/*    border: 10px solid green*/;
    font-style: normal;
    color: #ffffff;
    width: 527px;
    min-height: 60px;
    left: 635px;
    top: 192px;


    background: #0066CC;
    box-shadow: 0px 5px 20px rgba(29, 33, 38, 0.03), 0px 1px 2px rgba(29, 33, 38, 0.1);

    text-align: right;
    border-radius: 10px;
    clip-path: polygon(
            0% 0%,
            calc(100% - 10px) 0%,
            calc(100% - 10px) calc(100% - 10px),
            100% 100%,
            0% 100%,
            0% 0%);
    }

.text::after {
    content: "";

}




.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    margin: 7px 25px 0 0;

}

.messageText {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    margin: 0 25px 0 0;
    padding-top: 3px;
}

.time {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    width: 26px;
    height: 12px;
    color: #000000;
    margin-right: 11px;
}